<div class="row">
    <div class="col-md-4">
        {{ listing.raw_dwelling_type }}
    </div>
    <div class="col-md-8">
        <a href="{{ listing.shortcode }}">{{ listing.raw_address_full }}</a>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        €{{ listing.price }}
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-6">
        {% if listing.routes_to_indeed is iterable %}
        {% for route in listing.routes_to_indeed if route.less_wl%}
        {% if loop.index <= 1 -%} <i class="fas fa-sigma"></i>
            {{ route.total_length|round(1, 'floor') }}km
            (<i class="fas fa-clock"></i>{{route.total_travel_time|round }}min)
            <i class="fas fa-walking"></i>
            {{ route.walking_length|round(1, 'floor') }}km
            (<i class="fas fa-clock"></i>{{route.walking_travel_time|round }}min)

            <i class="fab fa-contao"></i>{{ route.lines_count|round }}
            <i class="fas fa-bus"></i>{{ route.lines_names_concat }}

            {%endif%}
            {% endfor %}
            {%endif%}
    </div>
    <div class="col-md-2">
        {{ listing.views }} views
    </div>
</div>



<div class="row">
    <div class="col-md-2">
        <i class="fas fa-city"></i> {{ listing.city_center_distance }}km
    </div>
    <div class="col-md-2">
        <i class="fas fa-briefcase"></i> {{ listing.indeed_distance }}km
    </div>

    <div class="col-md-6">
        {% if listing.routes_to_indeed is iterable %}
        {% for route in listing.routes_to_indeed if route.less_tl%}
        {% if loop.index <= 1 -%} <i class="fas fa-sigma"></i>

            {{ route.total_length|round(1, 'floor') }}km
            (<i class="fas fa-clock"></i> {{route.total_travel_time|round }}min)
            <i class="fas fa-walking"></i>
            {{ route.walking_length|round(1, 'floor') }}km
            (<i class="fas fa-clock"></i> {{route.walking_travel_time|round }}min)

            <i class="fab fa-contao"></i> {{ route.lines_count|round }}
            <i class="fas fa-bus"></i> {{ route.lines_names_concat }}

            {%endif%}
            {% endfor %}
            {%endif%}
    </div>
    <div class="col-md-2">
        {%if listing.source_xml_pub_date%}
        {{ listing.source_xml_pub_date }}
        {%else%}
        {{ listing.date_insert_update }}
        {%endif%}
    </div>
</div>

<div class="row">
    <div class="col-md-12">&nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul id="tabsJustified" class="nav nav-tabs">
            <li class="nav-item"><a href="" data-target="#images-{{ listing.id }}" data-toggle="tab" class="nav-link small text-uppercase active">Images</a></li>
            <li class="nav-item"><a href="" data-target="#desc-{{ listing.id }}" data-toggle="tab" class="nav-link small text-uppercase">Description</a></li>
            <li class="nav-item"><a href="" data-target="#overv-{{ listing.id }}" data-toggle="tab" class="nav-link small text-uppercase">Overview</a></li>
            <li class="nav-item"><a href="" data-target="#routes-{{ listing.id }}" data-toggle="tab" class="nav-link small text-uppercase">Routes</a></li>
            <li class="nav-item"><a href="" data-target="#ia-{{ listing.id }}" data-toggle="tab" class="nav-link small text-uppercase">IA</a></li>
        </ul>
        <br>
        <div id="tabsJustifiedContent" class="tab-content">
            <div id="images-{{ listing.id }}" class="tab-pane fade active show">
                <div class="col-md-12">
                    <div class="row gallery-block compact-gallery">
                        <div class="row no-gutters">
                            {% for image in listing.images %}
                            <div class="col-md-3 col-lg-3 item zoom-on-hover">
                                <a class="lightbox" href="{{ image.filepath }}">
                                    <img style="max-height: 200px;" class="center image img-thumbnail" src="{{ image.tbfilepath }}">
                                    <span class="description">
                                        <span class="description-heading">heading</span>
                                        <span class="description-body">{{ image.tbfilepath }}

                                        </span>
                                    </span>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="desc-{{ listing.id }}" class="tab-pane fade">
                <div class="col-md-12">
                    <h1> Description </h1>
                    <pre style='font-size: 11px;'>
                                {{- listing.description.description -}}

                        </pre>
                </div>
            </div>
            <div id="overv-{{ listing.id }}" class="tab-pane fade">
                <div class="col-md-12">
                    <h1> Overview </h1>
                    {% if listing.overviews is iterable %}
                    {% for over in listing.overviews%}
                    <div class="row">
                        <div class="col-md-6">

                            * {{ over.name }}

                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    {% endfor %}
                    {%endif%}
                </div>
            </div>
            <div id="routes-{{ listing.id }}" class="tab-pane fade">
                <div class="col-md-12">
                    <h1> Routes </h1>
                    {% if listing.routes_to_indeed is iterable %}
                    {% for route in listing.routes_to_indeed%}
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fas fa-sigma"></i>

                            {{ route.total_length|round(1, 'floor') }}km
                            (<i class="fas fa-clock"></i> {{route.total_travel_time|round }}min)
                        </div>
                        <div class="col-md-2">
                            <i class="fas fa-walking"></i>
                            {{ route.walking_length|round(1, 'floor') }}km
                            (<i class="fas fa-clock"></i> {{route.walking_travel_time|round }}min)
                        </div>
                        <div class="col-md-8">
                            <i class="fas fa-bus"></i> {{ route.lines_count|round }}
                            <i class="fas fa-bus"></i> {{ route.lines_names_concat }}

                        </div>
                    </div>
                    {% endfor %}
                    {%endif%}
                </div>
            </div>
            <div id="ia-{{ listing.id }}" class="tab-pane fade">
                <div class="col-md-12">
                    <h1> IA </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>