{% extends 'base.html' %}

{% block app_content %}
<h1>API's</h1>
<div class="row">
    &nbsp;
</div>
<div class="row links">
    <div class="col-md-3">
        <button type="button" class="btn btn-outline-primary">
            <a href="{{ url_for('api.add_users') }}" style="color:inherit">
                Add Users
            </a>
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-outline-primary">
            <a href="{{ url_for('api.startdb') }}" style="color:inherit">
                Start DB
            </a>
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-outline-primary">
            <a href="{{ url_for('api.loop_xmls') }}" style="color:inherit">
                Loop XML's
            </a>
        </button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-outline-primary">
            <a href="{{ url_for('api.loop_here') }}" style="color:inherit">
                Loop Here
            </a>
        </button>
    </div>
</div>
<div class="row">
    &nbsp;
</div>
<div class="row links">
        <div class="col-md-3">
            <button type="button" class="btn btn-outline-primary">
                <a href="{{ url_for('api.download_images') }}" style="color:inherit">
                    Download Images
                </a>
            </button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-outline-primary">
                <a href="{{ url_for('api.loop_daft') }}" style="color:inherit">
                    Loop Daft
                </a>
            </button>
        </div>
</div>
<div class="row">
    <div class="col-md-12" id="pageLoad">
    </div>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(".links a").click(function () {
        $("#pageLoad").load(this.href);

        return false;
    });
</script>
{% endblock %}