{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}



<h1> Hi, {{ current_user.username }}</h1>
{% for listing in listings %}
{% include 'main/_listing.html' %}
{% endfor %}
    <ul class="pagination float-right">
        <li class="page-item previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}" class="page-link">
                <span aria-hidden="true">&larr;</span>Newer listings
            </a>
        </li>
        <li class="page-item next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}" class="page-link">
                Older listings <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<style>
    .gallery-block {
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .gallery-block .heading {
        margin-bottom: 50px;
        text-align: center;
    }

    .gallery-block .heading h2 {
        font-weight: bold;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    .gallery-block.compact-gallery .item {
        overflow: hidden;
        margin-bottom: 0;
        <!-- background: black; -->
        opacity: 1;
    }

    .gallery-block.compact-gallery .item .image {
        transition: 0.8s ease;
    }

    .gallery-block.compact-gallery .item .info {
        position: relative;
        display: inline-block;
    }

    .gallery-block.compact-gallery .item .description {
        display: grid;
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        padding: 10px;
        font-size: 17px;
        line-height: 18px;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        opacity: 1;
        color: #fff;
        transition: 0.8s ease;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
    }

    .gallery-block.compact-gallery .item .description .description-heading {
        font-size: 1em;
        font-weight: bold;
    }

    .gallery-block.compact-gallery .item .description .description-body {
        font-size: 0.8em;
        margin-top: 10px;
        font-weight: 300;
    }

    @media (min-width: 576px) {

        .gallery-block.compact-gallery .item .description {
            opacity: 0;
        }

        .gallery-block.compact-gallery .item a:hover .description {
            opacity: 1;
        }

        .gallery-block .zoom-on-hover:hover .image {
            transform: scale(1.3);
            opacity: 0.7;
        }
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.compact-gallery', { animation: 'slideIn' });
</script>{% endblock %}