{% extends 'bootstrap/base.html' %}


{% block title %}
{% if title %}{{ title }} - Daft Bot{% else %}Welcome to Daft Bot{% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DaftBot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.listings') }}">Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.api') }}">API's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  target="_flower" href="http://192.168.99.100:5555/dashboard">Flower</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            {% if g.search_form %}
            <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for('main.search') }}">
                {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
            </form>
            {% endif %}
            {% if current_user.is_anonymous %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}


{% block content -%}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row">
        <div class="col-md-12">
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
</div>
    {% endif %}
    {% endwith %}
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}
    {% endblock %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}