{% extends "base.html" %}


{% block app_content %}
<h1>Hello, "{{ current_user.username }}"</h1>
<h1> . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . </h1>
{% endblock %}