{% extends "base.html" %}


{% block app_content %}
    <h1>Edit Profile</h1>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label() }}
                    {{ form.username(class='form-control') }}
                    {% for error in form.username.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
    
                </div>
                <div class="form-group">
                    {{ form.email.label() }}
                    {{ form.email(class='form-control') }}
                    {% for error in form.email.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.about_me.label() }}
                    {{ form.about_me(class='form-control') }}
                </div>
                <div class="form-group">
                {{ form.submit(class='btn btn-primary') }}
                {% for error in form.submit.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            </form>
        </div>
    </div>
{% endblock %}