{% extends 'base.html' %}

{% block app_content %}
<h1>Sign In</h1>
<div class="row">
    <div class="col-md-4">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label() }}
                {{ form.username(class='form-control') }}
                {% for error in form.username.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}

            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {{ form.password(class='form-control') }}
                {% for error in form.username.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-check">
                {{ form.remember_me(class='form-check-input') }}
                {{ form.remember_me.label(class='form-check-label') }}
            </div>
            {{ form.submit(class='btn btn-primary') }}
            {% for error in form.username.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}

            {% for error in form.username.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
        </form>
    </div>
</div>
<br />
<div class="row">
    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
</div>
<div class="row">
    Forgot Your Password?
    <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
    </p>
</div>
{% endblock %}