{% extends "base.html" %}

{% block app_content %}
    <h1>Reset Password</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label() }}
                    {{ form.email(class='form-control') }}
                    {% for error in form.email.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                {{ form.submit(class='btn btn-primary') }}
                {% for error in form.submit.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}