{% block doc -%}
<!DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}

<head>
  {%- block head %}
  <title>{% block title %}{{title|default}}{% endblock title %}</title>

  {%- block metas %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- endblock metas %}

  {%- block styles %}
  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">

  {%- endblock styles %}
  {%- endblock head %}
</head>

<body {% block body_attribs %}{% endblock body_attribs %}>
  {% block body -%}
  {% block navbar %}
  {%- endblock navbar %}
  {% block content -%}
  {%- endblock content %}

  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  {%- endblock scripts %}
  {%- endblock body %}
</body>
{%- endblock html %}

</html>
{% endblock doc -%}